@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white-100: #ffffff;
  --bg-dark-gray-100: #202125;
  --bg-dark-gray-200: #16171b;
  --bg-dark-gray-300: #0a0a0a;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-white-100);
  background: var(--bg-dark-gray-200);
}

h2 {
  font-size: 16px;
  font-weight: 600;
  user-select: none;
  text-align: center;
}

#ets-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#ets-container button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  background-image: url("./asset/img/cat.png");
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

#ets-container button:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

#ets-container button[aria-pressed="false"] {
  filter: grayscale(1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

header,
.container {
  padding-inline: 8px;
  width: 250px;
  margin-inline: auto;
}

.menu {
  padding: 4px;
}

#toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: var(--bg-dark-gray-100);
}

#toggle > span {
  font-size: 16px;
}

#toggle .toggle-container {
  display: flex;
  align-items: center;
  position: relative;
}

#toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

#toggle input:checked + .toggle-switch {
  background-color: #4d7191;
}

#toggle input:checked + .toggle-switch:before {
  right: 0;
  background-color: #33a5ff;
}

#toggle .toggle-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #545e6a;
  width: 40px;
  height: 16px;
  border-radius: 100vh;
  transition: 0.4s;
}

#toggle .toggle-switch:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100vh;
  background-color: #e0e0e0;
  transition: 0.4s;
}

#toggle .label-text {
  font-size: 12px;
}

/* TOOL TIP */
[tooltip] {
  position: relative;
}

[tooltip]::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #e0e0e0;
  z-index: 1;
  top: -4px;
  left: 55%;
  /* display: none; */
  opacity: 0;
  transition: 0.7s;
}

[tooltip]::after {
  /* display: none; */
  opacity: 0;
  transition: 0.7s;

  content: attr(tooltip);
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;

  position: absolute;
  top: -30px;
  left: 0;
  pointer-events: none;
  z-index: 1;

  color: #202125;
  background-color: #e0e0e0;

  text-align: center;
  white-space: nowrap;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  /* display: block; */
  opacity: 1;
  transition-delay: 1.2s;
}
