@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white-100: #ffffff;
  --bg-dark-gray-100: #202125;
  --bg-dark-gray-200: #16171b;
  --bg-dark-gray-300: #0a0a0a;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-white-100);
  background: var(--bg-dark-gray-200);
  padding: 16px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  user-select: none;
  text-align: center;
}

#ets-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#ets-container button {
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  background-image: url("../asset/img/cat.png");
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

#ets-container button:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

#ets-container button[aria-pressed="false"] {
  filter: grayscale(1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

header,
.container {
  width: 280px;
  margin-inline: auto;
}
